<div class="ad">
	<img
		src="https://i.pinimg.com/736x/e1/be/8c/e1be8c9c42267defa16fc02da5108c91.jpg"
		alt=""
	/>
	<img
		src="https://i.pinimg.com/736x/bd/af/3c/bdaf3cce6f4d67ea042c3e2649d6a5e5.jpg"
		alt=""
	/>
	<img
		src="https://i.pinimg.com/736x/89/c7/55/89c755dfef85fdf478c72bc7400a2574.jpg"
		alt=""
	/>
</div>
